%title {
  margin: .5em 0 0 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  font-size: 4em;
  color: $black-color;
  text-align: center;
  text-shadow: 0 2px 0 rgba(0,0,0,0.1)
}

%title-span  {
  font-family: 'Open Sans', sans-serif;
  font-size: .6em;
  text-align: center;
  font-weight: 700;
  color: $primary-color;
  display: block;
}


%subtitle {
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  text-align: center;
  font-weight: 700;
  color: $primary-color;
  text-transform: capitalize;
  margin: 1em;
}

%contenedor {
  width: 80%;
  margin: auto;

  @media only screen and (max-width: 768px) {
    width: 100%;
  }
}

%footer {
  margin: 1em;
  
  ul li {
        text-align: center;
        color: $rose-color;
        font-size: small;
        font-weight: 300;
        padding: .4em 0;
  }
}
