
$primary-color: #D22d38;
$primary-color-2: #df4e58;
$primary-color-darker: #a51a23;
$white-color: white;
$black-color: #1F1C1B;
$grey-color: #535353;
$midgrey-color: #bdbdbd;
$lightgrey-color: rgba(230, 225, 225, 0.836);
$lightgrey-color2: #e6e1e1;
$primary-background-color: #eeeeee;
$secondary-background-color: #edf2f6;
$rose-color: #a18588;
$box-shadow: 3px 3px 10px rgba(0,0,0,0.1);
$logo-size: 40px;

