@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Montserrat:wght@300;400;500;700&display=swap');

:root {
  --titles-color: #1F1C1B;
  --text-primary-color: #535353;
  --primary-background-color: #685b5b;
  --secondary-background-color: #eeeeee;
  --logo-red-color: #C14752;
  --pink-color: #CAA3A7;
  --white-color: white;

}
body {
background-color: var(--secondary-background-color);
font-family: 'Montserrat', sans-serif;
color: #424242;
-webkit-font-smoothing: antialiased;
}

.marco {
  margin: 0px 100px 0px 100px;
  background-color: white;
}

h2 {
  font-family: 'Karla', sans-serif;
  font-size: 40px;
  text-align: center;
  color: var(--titles-color);
  font-weight: bold;
}

.logo {
  height: 150px;
}

ul li {
  list-style-type: none;
  color: black;
}

footer ul li {
  text-align: center;
  color: var(--pink-color);
}

nav li {
  display: inline;
}

nav a:link, nav :visited {
  text-decoration: none;
  color:var(--titles-color);
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

nav a:hover {
  text-decoration: underline;
}

.mapa {
  margin-left: 30%;
}

.form {
  color: white;
  text-align: center;
  background-color: var(--primary-background-color);
  margin: 10px 300px 0 300px;
  padding: 2%;
  align-items: center;
  justify-content: center;
}

.campo {
  margin: 20px;
  background-color: var(--primary-background-color);
}

.campo label {
  text-align: left;
}
 
.main-image {
  position: relative;
  background-color:#f7f7f7;
  text-align: center;
}

.local-image {
  height: 100%;
  width: 100%;
  -webkit-filter: sepia(30%);
}

.parrafo {
  position: relative;
  width: 100%;
  height: 100%;
}

.descripcion {
  padding: 0 30px 30px 30px;
}

.productos {
  border: black;
}
