@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Open+Sans:wght@400;600;700;800&display=swap');

:root {
  --black-color: #1F1C1B;
  --grey-color: #535353;
  --primary-background-color: #eeeeee;
  --secondary-background-color: #edf2f6;
  --red-color: #de193a;
  --rose-color: #a18588;
  --white-color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
background-color: var(--secondary-background-color);
font-family: 'Montserrat', sans-serif;
color: var(--grey-color);
-webkit-font-smoothing: antialiased;
font-size: larger;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  font-size: 100px;
  color: var(--black-color);
  margin-top: -3%;
  text-align: center;
}

p {
  padding: 0 30px 0 30px;
  text-align: centers;
}

.marco {
  margin: 0px 100px;
  background-color: white;
  overflow: hidden;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  text-align: center;
  font-weight: 700;
  color: var(--red-color);
  text-transform: capitalize;
  margin: 2%;
}

.logo {
  height: 60px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-left: 5%;
  margin-top: 2%;
  vertical-align: bottom;
}

nav ul {
  float: right;
  margin: 3.5% 5% 0 0;
}

nav ul li {
  display: inline-block;
  text-transform: uppercase;
  padding: 5px;
}

nav a:link, nav :visited {
  text-decoration: none;
  color:var(--black-color);
  font-weight: bold;
}

nav a:hover, nav .current {
  color: var(--red-color);
}

.separador {
  background-color: var(--red-color);
  border-radius: 5px;
  height: 5px;
  width: 90%;
  margin: 50px auto 50px;
}

.main-image {
  color: var(--grey-color);
  position: relative;
  text-align: center;
}

.local-image {
  width: 100%;
  /*filter: grayscale(60%);*/
  animation-name: local;
  animation-duration: 3s;
}

@keyframes local {
  0% {filter: grayscale(100%);}
  100% {filter: grayscale(0%);}
}

.pie-main-image {
  font-size: 30px;
  text-align: center;
  margin-top: 2%;
}

.mapa-container {
  overflow: hidden;
  margin: 0 29.5% 0 29.5%;
  box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.1);
  object-fit: cover;
}

.mapa {
  object-fit: cover;
}

.productos {
  border: black;
}

.form {
  box-shadow: 3px 3px 10px rgba(0,0,0,0.1);
  color: var(--black-color);
  background-color: var(--white-color);
  padding: 2%;
  margin: auto;
  align-items: left;
  position: relative;
  font-size: larger;
  width: 50%;
}

.campo label {
  text-align: right;
  margin-right: 40px;
}

footer ul li {
      text-align: center;
      color: var(--rose-color);
      font-weight: 400;
      font-size: medium;
      line-height: 130%;
      padding: 5px 0;
}
